body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f4f7;
}

.navb{
    display: flex;
    background-color: white;
    height: 60px;
}

.fblogo{
    width: 40px;
    height: 40px;
    margin-left: 17px;
    margin-top: 7px;
    cursor: pointer;
}

.srchicon{
    /* margin-top: 10px;
    border: 2px solid #f0f2f5;
    border-radius: 200px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    margin-left: 10px;
    background-color: #f0f2f5;
    cursor: pointer; */
    position:absolute;
    margin-left: 80px;
    margin-top: 20px;
    color: gray;
}

.srchbox{
    padding-left: 40px;
    height: 40px;
    margin-left: 7px;
    margin-top: 7px;
    border-radius: 40px;
    width: 250px;
    font-size: 15px;
    color: gray;
    background-color: #f0f2f5;
    outline: #f0f2f5;
    border: #f0f2f5;
}

.houselogo{
    margin-left: 90px;
    margin-top: 12px;
    cursor: pointer;
}

.friendslogo{
    margin-left: 60px;
    margin-top: 10px;
    cursor: pointer;
}

.reelslogo{
    margin-left: 60px;
    margin-top: 10px;
    cursor: pointer;
}

.groupslogo{
    margin-left: 60px;
    margin-top: 10px;
    cursor: pointer;
}

.gaminglogo{
    margin-left: 60px;
    margin-top: 10px;
    cursor: pointer;
}

.menulogo{
    margin-left: 180px;
    margin-top: 10px;
    height: 30px;
    cursor: pointer;
    border: 2px solid #f0f2f5;
    background-color: #f0f2f5;
    border-radius: 60px;
    padding: 4px;
}

.messengerlogo{
    margin-left: 10px;
    margin-top: 10px;
    height: 30px;
    cursor: pointer;
    border: 2px solid #f0f2f5;
    background-color: #f0f2f5;
    border-radius: 60px;
    padding: 4px;
}

.messengercircle{
    width: 20px;
    height: 16px;
    border-radius: 40px;
    background-color: #dd2334;
    position: absolute;
    color: white;
    font-size: 12px;
    margin-left: 1120px;
    margin-top: 5px;
    text-align: center;
    padding-top: 2px;
    font-weight: bold;
}

.notificationslogo{
    margin-left: 10px;
    height: 30px;
    margin-top: 10px;
    cursor: pointer;
    border: 2px solid #f0f2f5;
    background-color: #f0f2f5;
    border-radius: 60px;
    padding: 4px;
}

.notificationscircle{
     width: 30px;
    height: 16px;
    border-radius: 40px;
    background-color: #dd2334;
    position: absolute;
    color: white;
    font-size: 12px;
    margin-left: 1190px;
    margin-top: 5px;
    text-align: center;
    padding-top: 2px;
    font-weight: bold;
}

.acclogo{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 40px;
}

.card1{
    width: 270px;
    height: 100%;
    background-color: #f2f4f7;
    margin-left: 20px;
    margin-top: 20px;
}

.profile{
    display: flex;
}

.profileacc{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    border-radius: 40px;
}

.profilename{
    margin-left: 20px;
    margin-top: 20px;
}

.meta{
    display: flex;
}

.metalogo{
    width: 40px;
    height: 40px;
    margin-top: 20px;
}

.metaname{
    margin-left: 20px;
    margin-top: 30px;
}

.friends{
    display: flex;
}

.frndlogo{
    margin-top: 20px;
    color: blue;
}

.friendsname{
    margin-left: 20px;
    margin-top: 25px;
}

.saved{
    display: flex;
}

.savedlogo{
    color: #b24bd2;
    margin-top: 20px;
}

.savedname{
    margin-left: 20px;
    margin-top: 25px;
}

.Memories{
    display: flex;
}

.Memorieslogo{
    margin-top: 20px;
}

.Memoriesname{
    margin-left: 20px;
    margin-top: 25px;
}

.groups{
    display: flex;
}

.gclogo{
    margin-top: 20px;
}

.gcname{
    margin-left: 20px;
    margin-top: 25px;
}

.reels{
    display: flex;
}

.relslogo{
    margin-top: 20px;
}

.relsname{
    margin-left: 20px;
    margin-top: 25px;
}

.marketplace{
    display: flex;
}

.Marketlogo{
    margin-top: 20px;
}

.marketname{
    margin-left: 20px;
    margin-top: 25px;
}

.feeds{
    display: flex;
}

.feedslogo{
    width: 40px;
    height: 40px;
    margin-top: 20px;
}

.feedsname{
    margin-left: 20px;
    margin-top: 25px;
}

.allcards{
    display: flex;
    width: 100%;
    height: 100%;
}

.card2{
    width: 700px;
    height: 1000px;
    background-color: antiquewhite;
}

.post{
    width: 530px;
    height: 130px;
    background-color: white;
    margin-left: 100px;
    margin-top: 15px;
    border-radius: 10px;
}

.postprofilelogo{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    border-radius: 40px;
    margin-left: 20px;
}

.postuppersect{
    display: flex;
}

.postprofileinp{
    margin-top: 10px;
    width: 445px;
    border-radius: 40px;
    margin-left: 10px;
    padding-left: 15px;
    height: 40px;
    font-size: 15px;
    color: gray;
    background-color: #f0f2f5;
    outline: #f0f2f5;
    border: #f0f2f5;
}

.postline{
    width: 500px;
    margin-top: 12px;
    margin-left: 10px;
    height: 2px;
    background-color: #f0f2f5;
}

.postdownsect{
    display: flex;
}

.postvideo{
    color: red;
    margin-top: 15px;
    margin-left: 30px;
}

.postlive{
    color: #6c6f73;
    margin-top: 23px;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 600;
}

.postphoto{
    margin-top: 15px;
    margin-left: 30px;
    color: green;
}

.postphotovideos{
    color: #6c6f73;
    margin-top: 23px;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 600;
}

.postfeeling{
    margin-top: 15px;
    margin-left: 30px;
    color: goldenrod;
}

.postactivity{
    color: #6c6f73;
    margin-top: 23px;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 600;
}

.story{
    display: flex;
}

.storycard1{
    width: 120px;
    height: 200px;
    background-color: white;
    margin-left: 100px;
    margin-top: 15px;
    border-radius: 10px;
}

.storyprofile{
    width: 100%;
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.addstory{
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

.storycard2{
    width: 120px;
    height: 200px;
    background-color: white;
    margin-left: 10px;
    margin-top: 15px;
    border-radius: 10px;
    display: flex;
}

.storyprofile2{
    width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.storyprofile2text{
    position: absolute;
    color: white;
    margin-top: 170px;
    margin-left: 15px;
}

.storyprofile2img{
    width: 30px;
    height: 30px;
    position: absolute;
    border: 5px solid #0866ff;
    border-radius: 40px;
    margin-top: 10px;
    margin-left: 13px;
}

.userpost{
    width: 530px;
    height: 550px;
    background-color: white;
    margin-left: 100px;
    margin-top: 20px;
    border-radius: 10px;
}

.userpostprofilelogo{
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-top: 15px;
    border: 2px solid #0866ff;
    border-radius: 40px;
}

.userposttext{
    margin-left: 20px;
}

.userpostprofilename{
    display: flex;
}

.userpostprofiletime{
    display: flex;
    flex-direction: column;
}

.userpostprofiletimetext{
    margin-left: 5px;
    line-height: 0px;
    margin-top: 25px;
}

.userpostprofiletimehours{
    line-height: 0px;
    margin-top: 0px;
    margin-left: 5px;
}

.btnSeemore{
    margin-left: 20px;
}

.userpostprofilememe{
    width: 100%;
    height: 300px
}

.react{
    display: flex;
}

.likeemoji{
    width: 30px;
    height: 20px;
    color: white;
    background-color: #0866ff;
    border-radius: 40px;
    margin-top: 10px;
    margin-left: 20px;
}

.sademoji {
    width: 30px;
    height: 20px;
    color: goldenrod;
    margin-top: 10px;
    margin-left: 0px;
}

.heartemoji{
     width: 30px;
    height: 20px;
    color: white;
    background-color: red;
    border-radius: 40px;
    margin-top: 10px;
    margin-left: 0px;
}

.num{
    margin-top: 10px;
    margin-left: 5px;
    color: #6c6f73;
}

.comment{
    margin-top: 10px;
    margin-left: 280px;
    color: #6c6f73;
}

.commentemoji{
    color: #6c6f73;
    margin-top: 10px;
    margin-left: 5px;
}

.share{
    margin-top: 10px;
    margin-left: 10px;
    color: #6c6f73;
}

.shareemoji{
    color: #6c6f73;
    margin-top: 10px;
    margin-left: 5px;
}

.likebtn{
    color: #6c6f73;
    margin-top: 5px;
    margin-left: 70px;
}

.displayflexcard{
    display: flex;
}

.likebtntext{
    color: #6c6f73;
    font-size: 15px;
    font-weight: bold;
}

.commentbtn{
    color: #6c6f73;
    margin-top: 5px;
    margin-left: 70px;
}

.commentbtntext{
    color: #6c6f73;
    font-size: 15px;
    font-weight: bold;
}

.sharebtn{
    color: #6c6f73;
    margin-top: 5px;
    margin-left: 70px;
}

.sharebtntext{
     color: #6c6f73;
    font-size: 15px;
    font-weight: bold;
}
   